*{
    background-color: blanchedalmond;
}
/* h1{
    text-align: center;
    align-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    color: coral;
    font-weight: 900;
    text-transform: uppercase;
} */

h2{
    text-align: center;
    align-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color:darkslategray;

}

.petName {
    text-align: center;
    align-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: salmon;
    font-weight: 700;
    text-transform: uppercase;
}

/* a class will take priority over tag selectors (h1,h2,etc); 
ID will take priority over both others 
adding !important will supercede everything*/

.nonImportant {
    font-size: 24px;
    color: salmon !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-align: center;
}

p{
    text-align: center;
    align-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color:darkslategray;
    font-weight: 300;
}

table{
    align-content: center;
}

#heading{
    text-align: center;
    align-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    color: rgb(117, 17, 67);
    font-weight: 900;
    text-transform: uppercase;
}


